{{#each this}}
    <div class="col lg2 m4 s6">
      <div class="card">
        <div class="card-image"> 
          {{#if fb}}
          <span> 
            <div class="chip right"> 
              <i class="close material-icons">close</i> 
            </div> 
          </span>
          {{else}}
          {{/if}} 
          <img class="cardImages" src="http://image.tmdb.org/t/p/w342/{{img}}" alt="{{title}}"> 
        </div>
        <div class="card-content">
          <li>{{title}}</li>
          <li>{{releaseDate}}</li>
          <li>
            {{#actors}}
              {{this}}
            {{/actors}}
          </li>
          {{#if boolian}}
            <li>{{boolian}}</li>
          {{/if}}
          {{#if ratings}}
            <li>{{rating}}</li>
          {{/if}} 
          {{#if mdn}}
          <a class="waves-effect waves-light btn blue-grey lighten-2"><i class="material-icons left">add</i>Watchlist</a>
          {{else}}
          <a class="waves-effect waves-light btn blue-grey lighten-2"><i class="material-icons left">add</i>STARS</a>
          {{/if}}
        </div>
      </div>
    </div>
{{/each}}
